@charset "utf-8";

tr {
  width: 100%;
}
tbody {
  border-bottom: 1px solid #bbb;
}
th {
  text-align: center;
}
td {
  height: 50px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  font-size: 14px;
}
select {
  margin-left: 10px;
}
input {
  margin-left: 10px;
  text-indent: 5px;
}

/* 탭 */
#tab_container {
  display: flex;
  height: 100px;
}
.tab_box {
  display: flex;
  flex: 1;
  list-style: none;
  margin-bottom: 0;
  width: 100%;
  margin-left: -40px;
}
.tab {
  position: relative;
  flex: 1;
  border-right: 1px solid #dadcdd;
}
.selected:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  display: block;
  height: 2px;
  background-color: #ff6158;
}
.selected .tab_thum {
  background-color: #ff6158;
}
.selected .tab_title {
  color: #ff6158;
}
.tab_button {
  position: relative;
  display: block;
  width: 100%;
  padding: 23px 0 23px 106px;
  font-size: 16px;
}
.tab_thum {
  margin-left: -80px;
  position: absolute;
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #c9cfe0;
}
.thum_cancel::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 3px 0 0 3px;
  background: url("../img/admin_clipping.png");
  background-position: 0 -50px;
}
.thum_change::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 3px 0 0 3px;
  background: url("../img/admin_clipping.png");
  background-position: -50px -50px;
}
.thum_return::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 3px 0 0 3px;
  background: url("../img/admin_clipping.png");
  background-position: -100px -50px;
}
.thum_refund::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 3px 0 0 3px;
  background: url("../img/admin_clipping.png");
  background-position: -152px -51px;
}
.count {
  display: block;
  margin: 7px 0 0;
  line-height: 26px;
  color: #333;
  font-weight: bold;
}

/* 본문 */
.table_color {
  background-color: #717b86;
  color: #fff;
  font-weight: bold;
}
#cancel_list td {
  vertical-align: middle;
}
select#child {
  min-width: 140px;
  margin-left: 10px;
}
.memo {
  position: relative;
  display: inline-block;
  font-size: 12px;
  background-color: #d5d5d5;
  color: #fff !important;
  text-align: center;
  border-radius: 5px;
}
.user_selected {
  background: #437fb3;
  color: #fff;
}
.admin_selected {
  background: #f6464b;
  color: #fff;
}
.user_memo {
  display: none;
  position: absolute;
  right: -10px;
  width: 150px;
  padding: 8px;
  background: #717b86;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  z-index: 800;
}
.user_memo:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #717b86;
  border-width: 10px;
  pointer-events: none;
  content: "";
}
.admin_memo {
  display: none;
  position: absolute;
  right: 100px;
  width: 150px;
  padding: 8px;
  background: #717b86;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  z-index: 800;
}
.admin_memo:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #717b86;
  border-width: 10px;
  pointer-events: none;
  content: "";
}
.memo:hover + p.user_memo {
  display: block;
}
.memo:hover + p.admin_memo {
  display: block;
}
.select_complete {
  width: inherit;
  float: left;
  color: #eee;
}
.select_complete:hover {
	color:#eee;
}
.content_footer {
  padding-top: 15px;
  margin: 15px;
}
.pagination_box {
  margin: auto;
  width: fit-content;
}
.pagination {
  margin: auto;
}
