@charset "utf-8";

tr {
  width: 100%;
}
tbody {
  border-bottom: 1px solid #bbb;
}
th {
  text-align: center;
}
td {
  height: 50px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  font-size: 14px;
}
select {
  margin-left: 10px;
}
input,
input[type="radio"] {
  margin-left: 10px;
  text-indent: 5px;
}

.search_box {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border: 2px solid #717b86;
  padding-bottom: 5px;
}
.search_table {
  width: 99%;
  margin: auto;
  margin-top: 7px;
  padding-bottom: 5px;
  min-height: 50px;
}
.search_table input[type="checkbox"] {
  margin-left: 10px;
}
.search_title {
  width: 20%;
  height: 50px;
  background-color: #f1f1f1;
  text-indent: 10px;
}
.search_data {
  width: 80%;
  border-right: 1px solid #bbbbbb;
}
#order_name {
	margin:15px;
}
#search_submit {
  width: 200px;
  height: 40px;
  color: #fff;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  float:right;
}
.table_color {
  background-color: #717b86;
  color: #fff;
  font-weight: bold;
}
#order_list td {
  vertical-align: middle;
}
select#child {
  min-width: 140px;
  margin-left: 10px;
}
.memo {
  position: relative;
  display: inline-block;
  font-size: 12px;
  background-color: #d5d5d5;
  color: #fff !important;
  text-align: center;
  border-radius: 5px;
}
.user_selected {
  background: #437fb3;
  color: #fff;
}
.memo {
  position: relative;
  display: inline-block;
  font-size: 12px;
  background-color: #d5d5d5;
  color: #fff !important;
  text-align: center;
  border-radius: 5px;
}
.user_selected {
  background: #437fb3;
  color: #fff;
}
.user_memo {
  display: none;
  position: absolute;
  right: 40px;
  width: 150px;
  padding: 8px;
  background: #717b86;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  z-index: 800;
}
.user_memo:after {
  position: absolute;
  bottom: 100%;
  right: 10%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #717b86;
  border-width: 10px;
  pointer-events: none;
  content: "";
}
.memo:hover + p.user_memo {
  display: block;
}
.content_footer {
  padding-top: 15px;
  margin: 15px;
}
.pagination_box {
  margin: auto;
  width: fit-content;
}
.pagination {
  margin: auto;
}
