@charset "UTF-8";
.card-body .search_table {
  vertical-align: middle;
  margin-bottom: 25px;
}
.product_table #product_list td {
  vertical-align: middle;
}
.product_table_color {
  background-color: #717b86;
  color: #fff;
  font-weight: bold;
}
.product_table_color th {
  text-align: center;
}
.product_table {
  text-align: center;
  margin-top: 10px;
}
.search_table .search_title {
  background-color: #f5f5f5;
  vertical-align: middle;
}
select#child {
  min-width: 140px;
  margin-left: 10px;
}
.form-group .form-control {
  margin-left: 10px;
}
.form-group .quantity_input {
  width: 100px;
  margin-right: 4px;
}
.card-body .search_btn {
  margin: auto;
  padding: 8px 150px;
  width: inherit;
}
.product_additional_box {
  margin-top: 30px;
}
.select_delete {
  width: inherit;
  float: left;
}
.product_number_box {
  padding-top: 5px;
}
.product_footer {
  padding-top: 15px;
}
.pagination {
  margin: auto;
}
.pagination_box {
  margin: auto;
  width: fit-content;
}
.product_img {
  width: 50px;
}
