@charset "utf-8";

/* 전체 공통 내용
--------------------------- */
            * {
                padding:0; margin:0;
                font-family:"Noto Sans CJK KR Regular", "Roboto", "sans-serif";
                font-size:16px;
                box-sizing: border-box;
            }

            ol, ul {
                list-style: none;
            }

            a, a:hover {
                color:#000;
                text-decoration:none;
                cursor:pointer;
            }

            /*input, select{
        		border: 1px solid rgb(165,165,165);
        		opacity: 0.7;
        		text-indent: 10px;
    		}*/

    		/*input:focus{
        		outline: none;
        		opacity: 1;
    		}*/

    		select:focus{
        		outline:none;
    		}

            p { font-size:16px; line-height:30px;}
            h1 { font-size:30px; font-weight: 700; }
            h2 { font-size:24px; font-weight: 700; }
            h3 { font-size:20px; font-weight: 700; }
            h4 { font-size:18px; font-weight: 700; }

            /*.clearfix {
                content:'';
                float:none;
                display:block;
                clear:both;
            }*/
            .text_hide {
            	text-indent:-10000px;
            }

/* header
--------------------------- */
            header {
                position:fixed;
                width:100%;
                height:56px;
                background-color:#cebea7;
                transition: top 0.2s ease-in-out;
                top:0;
                z-index: 100;
            }
            .nav-up {
                top:-100px;
            }
            .hd_icon {
                width:80%;
                margin:auto;
                padding-top:15px;
            }
            #hd_logo_icon {
                display: inline-block;
                width:75px;
                height:30px;
                background-image:url(../img/laporte_clipping.png);
                background-repeat: no-repeat;
                background-size:590px 300px;
                background-position:-328px -12px;
            }
            .hd_list li {
                 display:inline-block;
            }
            .hd_list {
                float:right;
                margin-right:-15px;
            }
            #hd_mypage_icon {
                display: inline-block;
                width:30px;
                height:24px;
                background-image:url(../img/laporte_clipping.png);
                background-repeat: no-repeat;
                background-size:530px 290px;
                background-position:-21px -15px;
            }
            #hd_wishlist_icon {
                display: inline-block;
                width:30px;
                height:24px;
                background-image:url(../img/laporte_clipping.png);
                background-repeat: no-repeat;
                background-size:530px 300px;
                background-position:-20px -51px;
            }
            #hd_cart_icon {
                display: inline-block;
                width:34px;
                height:24px;
                background-image:url(../img/laporte_clipping.png);
                background-repeat: no-repeat;
                background-size:490px 300px;
                background-position:-16px -88px;
            }
            #hd_menu_icon {
                display: inline-block;
                background-image:url(../img/laporte_clipping.png);
                background-repeat: no-repeat;
                background-size:540px 330px;
                background-position:-23px -185px;
                }


    /* 메뉴 모달윈도우 */
        /* 화면 전체를 덮는 배경 레이어의 위치, 크기, 투명도 지정 > 기본적으로 표시x */
            .hd_gray_layer {
                position:fixed;
                left:0;
                top:0;
                height:100%;
                width:100%;
                background-color:black;
                opacity: .4;
                display: none;
            }
        /* 메뉴가 표현될 레이어를 화면좌측에 배치 > 기본적으로 표시x */
            .hd_over_layer {
                position:fixed;
                top:0;
                left:0;
                display:none;
                width: 75%;
                height:100%;
                z-index: 8000;
                display: none;
                background-color: #fff;
            }
        /* menu header */
            #hd_menu_logoicon {
                display: inline-block;
                width:75px;
                height:30px;
                background-image:url(../img/laporte_clipping.png);
                background-repeat: no-repeat;
                background-size:590px 300px;
                background-position:-328px -12px;
            }
            .hd_menu_ul {
                margin:40px 0;
            }
            .hd_menu_ul li:hover {
                text-decoration:underline; cursor:pointer;
                color:#000;
            }
            .hd_menu_ul li {
                margin:15px 0 15px 20px;
            }
            #hd_menu_header {
                padding:30px 20px;
            }
            #hd_menu_logo {
                float:left;
            }
            #hd_menu_close {
                float:right;
            }
            #hd_menu_close a {
                padding:5px 9px;
                text-decoration:none;
            }
            #hd_menu_close a:hover {
                background-color:#eee;
                border-radius:50px;
                color:#000;
            }
        /* menu content */
            #hd_menu_ul1, #hd_menu_ul2 {
                font-weight: 700;
            }
            #hd_menu_product h3{
                margin-bottom:30px;
                font-weight: 900;
            }
            #hd_menu_ul3 a {
                font-size:14px;
            }
     /* 검색 */
            .hd_searchbox {
                background-color:#cebea7;
                height:110px;
            }
            .hd_search {
                position:relative;
                width:85%;
                height:auto;
                margin:0 auto;
                padding-top:56px;
            }
            .hd_searchbox input {
                display: block;
                background-color:#e3ddcb;
                width:100%;
                height:40px;
                border: 2px solid transparent;
                border-radius:50px;
                outline: 0;
                cursor: text;
                text-indent:50px;
            }
            #hd_search_icon {
                width:22px;
                height:22px;
                background-image:url(../img/laporte_clipping.png);
                background-repeat: no-repeat;
                background-size:450px 250px;
                background-position:-50px -16px;
                position:absolute;
                top:68px;
                left:16px;
            }
            .sc_gray_layer{
            	position:fixed;
                left:0;
                top:0;
                height:100%;
                width:100%;
                background-color:black;
                opacity: .4;
                display: none;
                z-index:1000;
            }
            .sc_over_layer{
            	position:fixed;
                top:0;
                left:0;
                width: 100%;
                height:85%;
                z-index: 8000;
                display: none;
                background-color: #fff;
                border-radius: 0 0 10px 10px;
            }
            #hd_search_front #modal_search_text{
            	display: block;
    			background-color: #fff;
    			width: 95%;
   				height: 44px;
    			border: 2px solid #172F50;
    			border-radius: 50px;
    			outline: 0;
    			cursor: text;
    			text-indent: 51px;
            	margin:auto;
            }
            #modal_search_box_container{
            	margin-top:8px;
            	position:relative;
            }
			#search_close_icon{
				display: block;
    			width: 20px;
    			height: 20px;
    			background: url(../img/laporte_clipping.png);
    			background-size: 389px 230px;
    			background-position: -182px -133px;
    			position: absolute;
    			top: 12px;
    			left: 30px;
			}
			#search_remove_icon{
				display: block;
    			width: 20px;
    			height: 20px;
    			background: url(../img/laporte_clipping.png);
    			background-size: 500px 252px;
    			background-position: -239px -180px;
    			position: absolute;
    			top: 11px;
    			left: 283px;
			}
			#search_enter_icon{
				display: block;
    			width: 20px;
    			height: 20px;
    			background: url(../img/laporte_clipping.png);
    			background-size: 500px 250px;
    			background-position: -129px -115px;
    			position: absolute;
    			top: 12px;
    			left: 315px;
			}
			#search_result{
				width:90%;
				height:400px;
				margin:auto;
				padding-top:10px;
			}
			#search_result a{
				display:block;
				padding:10px;
			}
			.rec_reyword{
				display: inline-block;
    			width: 20px;
    			height: 18px;
    			background: url(../img/laporte_clipping.png);
    			background-size: 452px 230px;
    			background-position: -47px -11px;
    			margin-right: 14px;
			}
/* csmain
---------------------------*/
            #csmain_nav {
                font-size:14px;
            }
            .csmain_center {
                margin-top:60px;
            }
            #csmain_title {
                font-weight:bold;
                color:#111111;
            }
            #csmain_title_content {
                font-size:16px;
                color:#484848;
            }
            .csmain_tabs ul li {
                display:inline-block;
                background:#e2e2e2;
                width:32%;
                height:51px;
                text-align:center;
                margin-top:27px;
                line-height:27px;
            }

            .csmain_tabs a span {
                font-size:14px;
                height:51px;

            }

            #csmain_cell_icon {
                display: block;
                background-image:url(../img/laporte_clipping.png);
                background-size:430px 230px;
                background-position:757.6px -67.3px;
                width:35px;
                height:24px;
                margin:auto;
            }

            #csmain_email_tap_icon {
                display: block;
                background-image:url(../img/laporte_clipping.png);
                background-size:430px 230px;
                background-position:663.3px -65.1px;
                width:35px;
                height:24px;
                margin:auto;
            }
            #csmain_ship_tap_icon {
                display: block;
                background-image:url(../img/laporte_clipping.png);
                background-size:430px 230px;
                background-position:758.1px -184.5px;
                width:35px;
                height:24px;
                margin:auto;
            }
            #csmain_cell_icon2 {
                background-image:url(../img/laporte_clipping.png);
                background-size:560px 350px;
                background-position:-176px -98px;
                width:44px;
                height:57.3px;
                float:left;
                position:relative;
                bottom:15px;
            }
            #csmain_title_cell {
                margin-left:54.3px;
                margin-top:28px;
                padding-right:30px;
            }
            #csmain_title_cell div {
                font-size:14px;
                line-height:20px;
                font-weight:bold;
            }
            .csmain_section1 p {
                font-size:13px;
                margin-top:8px;
                color:#484848;
                line-height:20px;
            }
            #csmain_email_icon2 {
                background-image:url(../img/laporte_clipping.png);
                background-size:560px 350px;
                background-position:-256px -98px;
                width:44px;
                height:57.3px;
                float:left;
                position:relative;
                bottom:15px;
            }
             #csmain_title_email {
                margin:28px 0 0 54.3px;
                padding-right:30px;
            }
            .csmain_section2 p {
                font-size:13px;
                margin-top:8px;
                color:#484848;
                line-height:20px;
            }
            #csmain_email_red {
                color:red;
            }
            #csmain_user_icon {
                background-image:url(../img/laporte_clipping.png);
                background-size:560px 350px;
                background-position:-486px -8px;
                width:44px;
                height:57.3px;
                position:relative;
                top:40.4px;
            }
            .csmain_email_section {
                margin: -20px auto 20px auto;
                height:463px;
                padding:0 30px 0 30px;
            }
           .csmain_user input {
                float:left;
                width: 88%;
                border:#fff;
                border-bottom: 1px solid #eee;
                padding:0 0 5px 10px;
                font-size:14px;
                margin-left:39px;
           }
           #csmain_phone_icon {
                background-image:url(../img/laporte_clipping.png);
                background-size:560px 350px;
                background-position:-485.9px -52.4px;
                width:44px;
                height:57.3px;
                position:relative;
                top:40.8px;
            }
            .csmain_phone input {
                float:left;
                width: 88%;
                border:#fff;
                border-bottom: 1px solid #eee;
                padding:0 0 5px 10px;
                font-size:14px;
                margin-left:39px;
            }
            #csmain_email_icon {
                background-image:url(../img/laporte_clipping.png);
                background-size:560px 350px;
                background-position:-486.3px -98px;
                width:44px;
                height:57.3px;
                position:relative;
                top:40.8px;
            }
            .csmain_email input {
                float:left;
                width: 88%;
                border:#fff;
                border-bottom: 1px solid #eee;
                padding:0 0 5px 10px;
                font-size:14px;
                margin-left:39px;
            }
            #csmain_topic_icon {
                background-image:url(../img/laporte_clipping.png);
                background-size:560px 350px;
                background-position:-485.6px -144.6px;
                width:44px;
                height:57.3px;
                position:relative;
                top:40.8px;
            }
            #csmain_category {
                width:88%;
                margin-left:39px;
                border:hidden;
                border-bottom: 1px solid #eee;
                font-size:14px;
                padding:0 0 5px 10px;
                color:grey;
                background-color:#fff;
            }
            #csmain_file_icon {
                background-image:url(../img/laporte_clipping.png);
                background-size:560px 350px;
                background-position:-485.8px -191px;
                width:44px;
                height:57.3px;
                position:relative;
                top:20.8px;
            }
            .csmain_file label {
                font-size:14px;
                width:88%;
                margin-left:39px;
                border-bottom:1px solid #eee;
                color:grey;
                font-weight:normal;
                float:left;
                position:relative;
                bottom:21.1px;
                padding:0 0 5px 10px;
            }
            #csmain_file_choose {
                border: none;
                margin-left: 25px;
                font-size: 14px;
            }
            #csmain_message_icon {
                background-image:url(../img/laporte_clipping.png);
                background-size:560px 350px;
                background-position:-485.8px -230.5px;
                width:44px;
                height:57.3px;
                position:relative;
                top:20px;
            }
            #csmain_message_content {
                width:88%;
                height:91px;
                margin-left:39px;
                border: 1px solid #eee;
                font-size:14px;
                padding:0 0 5px 10px;
                color:grey;
                float:left;
                position:relative;
                bottom:24px;
            }
            #csmain_email_send {
                display:block;
                text-align:center;
                background-color:#172f50;
                color:#fff;
                height:43px;
                width:88.6%;
                line-height:43px;
                margin-left:36.5px;
                border-radius:7px;
                float:left;
            }
            #csmain_track_icon2 {
                background-image:url(../img/laporte_clipping.png);
                background-size:560px 350px;
                background-position:-130.4px -274.6px;
                width:44px;
                height:57.3px;
            }
            .csmain_section3 {
                position:relative;
                bottom:13px;
            }
            .csmain_section3 p {
                font-size:13px;
                line-height:20px;
            }
            #csmain_title_track {
                margin:-55px 0 0 54.3px;
                padding-right:30px;
            }
            #csmain_order_list {
                float:left;
                border:1px solid;
                text-align:center;
                color:#000;
                margin:21px 0 0 52.8px;
                padding:12px 8px;
                text-decoration:underline;
            }
            #csmain_order_cancel {
                display:inline-block;
                border:1px solid;
                text-align:center;
                padding:12px 8px;
                margin:8.3px 0 0 30px;
                color:#111;
                text-decoration:underline;
            }
            @media(max-width:767px) {
            #csmain_cell_icon {
                display: block;
                background-size: 430px 230px;
            }
        }
            @media(min-width:768px) {
            #csmain_cell_icon {
                display: inline-block;
                background-size: 500px 300px;
                background-position:-123px -93px;
                width:40px;
                height:40px;
                margin:10.5px;
                position:relative;
                right:0.2px;
            }
        }
            @media(max-width:767px) {
            #csmain_cell_text {
                display: block;
            }
        }
            @media(min-width:768px) {
            #csmain_cell_text {
                display: inline-block;
                font-size:14px;
                position:relative;
                bottom:30.6px;
                right:20px;
            }
        }
            @media(max-width:767px) {
            #csmain_email_tap_icon {
                display: block;
                background-size: 430px 230px;
            }
        }
            @media(min-width:768px) {
            #csmain_email_tap_icon {
                display: inline-block;
                background-size: 500px 300px;
                background-position:-232px -92.2px;
                width:40px;
                height:40px;
                margin:10.5px;
                position:relative;
                right:0.2px;
            }
        }
            @media(max-width:767px) {
            #csmain_email_tap_text {
                display: block;
            }
        }
            @media(min-width:768px) {
            #csmain_email_tap_text {
                display: inline-block;
                font-size:14px;
                position:relative;
                bottom:30.6px;
                right:20px;
            }
        }
            @media(max-width:767px) {
            #csmain_ship_tap_icon {
                display: block;
                background-size: 430px 230px;
            }
        }
            @media(min-width:768px) {
            #csmain_ship_tap_icon {
                display: inline-block;
                background-size: 500px 300px;
                background-position:-123px -248.9px;
                width:40px;
                height:40px;
                margin:10.5px;
                position:relative;
                right:0.2px;
            }
        }
            @media(max-width:767px) {
            #csmain_ship_tap_text {
                display: block;
            }
        }
            @media(min-width:768px) {
            #csmain_ship_tap_text {
                display: inline-block;
                font-size:14px;
                position:relative;
                bottom:30.6px;
                right:20px;
            }
        }



/* footer
--------------------------- */
			footer {
				width:100%;
				margin-top:40px;
				background-color: #f5f5f5;
				padding-bottom:40px;
			}
			.ft_collapse {
				position: relative;
				border-bottom:1px solid #d5d5d5;
			}
			.collapse-title {
				width:320px;
				height:90px;
				padding:35px 0;
				font-weight:700;
			}
			#ft_dropdown_icon {
				width:24px;
				height:24px;
				position:absolute;
				top:45px;
				right:8px;
				background-image: url(../img/laporte_clipping.png);
				background-size: 320px 180px;
				background-position: -28.2px -57.6px;
			}
			/* 아코디언 내용영역의 여백, 글자크기, 테두리, 숨김 */
			.content {
				display:none;
				margin-left:20px;
				padding:15px 0;
			}
			.content a {
				font-size:14px;
				color:#484848;
			}
			/*아이콘바 박스*/
			.ft_iconbox {
				width:320px;
				height:40px;
				margin-top: 40px;
			}
			.ft_app_icon {
				display:inline-block;
				width:36px;
				height:36px;
				border-radius:30px;
				border:1px solid #dfdfdf;
				float:left;
				margin-right: 15px;
				background-image: url(../img/laporte_clipping.png);
				background-size: 640px 360px;
				background-position: -20.5px -254.5px;
			}
			#ft_app_box {
				width:24px;
				height:27px;
				float:left;
				position:relative;
				left:5px;
				top:3px;
			}
			.ft_share_icon {
				display:inline-block;
				width:36px;
				height:36px;
				border:1px solid #dfdfdf;
				border-radius:30px;
				float:left;
				background-image: url(../img/laporte_clipping.png);
				background-size: 640px 320px;
				background-position: -18px -266.5px;
			}
			#ft_share_box {
				width:24px;
				height:27px;
				float:left;
				position:relative;
				left:5px;
				top:3px;
			}
			.ft_interikea {
				display:inline-block;
			}
			.ft_accessterms {
				float:left;
				margin-top:30px;
			}
			.ft_accessterms li {
				float: left;
				margin-right:20px;

			}
			.ft_accessterms a {
				font-size:14px
			}
			.ft_legalinformation p {
				font-size:14px;
				margin-top:93px;
				color:#484848;
			}