@charset "utf-8";
			
			/* 고객지원 */
			#ct_cart-icon {
				padding-left: 100px;
			}

			#ct_question-icon {
				padding-left: 100px;
			}

			#ct_list-icon {
				padding-left: 100px;
			}

			#ct_car-icon {
				padding-left: 100px;
			}

			#ct_refresh-icon {
				padding-left: 100px;
			}