@charset "UTF-8";

#login{
			width: 100%;
			min-height: 500px;
		}

		#login > .header{
		width: 100%;
		height: 260px; 
		background-color: #CEBEA7;
		padding-top: 40px;
		}
		
		#login > .header > h3{
		   display: block;
		   margin-top: 0;
		   text-align: center;
		   padding: 58px 0 1px 20px;
		}

		#login > .header  h5{
		display: block;
		text-align: center;
		width: 100%;
		}
		
    	
    	input{
    	display: block;
    	width: 70%;
    	border: none;
    	border-bottom: 2px solid rgb(165,165,165);
		margin: auto;
		margin-top: 75px; 
    	opacity: 0.7;
    	}
    	
    	input:focus{
    	outline: none;
    	opacity: 1;
    	}
    	

    	#login > .header > a{
    	display: block;
    	padding: 10px;
    	}
    	
    	#login > .header > a > #d_icon_l{
    	display: block;
    	width:23px;
    	height: 23px;
    	background-image: url(../img/laporte_clipping.png);
    	background-repeat:no-repeat;
    	background-size: 640px 360px;
    	background-position: -118px -260px;
    	margin: 10px;
    	text-indent: -10000px;
    	} 
    	
    	button{
    	display: block;
    	width: 70%;
    	height: 45px;
    	border: none;
    	border-radius: 50px;
		margin: auto;
    	}
    	
    	button:focus{
    	outline: none;
    	}
    	
		#login .section{
		height: 350px;
		margin-top: 30px;
		}
		
		#login > .section #showPassword{
		width: 18%;
    	height:25px;
		display: block;
		margin: 0;
  		position: absolute;
  		right: 11px;
  		top: 433px;
    	}
    	
    	#login > .section #pw_hide_icon{
    	display: block;
    	width:25px;
    	height: 25px;
    	background-image: url(../img/laporte_clipping.png);
    	background-repeat:no-repeat;
    	background-size: 544px 296px;
    	background-position: -101px -57px;
    	text-indent: -10000px;
    	}
    	
    	#login > .section #pw_show_icon{
    	display: block;
    	width:26px;
    	height: 26px;
    	background-image: url(../img/laporte_clipping.png);
    	background-repeat:no-repeat;
    	background-size: 552px 306px;
    	background-position: -102px -20px;
    	text-indent: -10000px;
    	} 	
    	
    	
    	#login .section #pw_find{
    	display: block;
    	width: 70%;
    	color: rgb(105,105,105);
		margin: auto;
    	text-decoration: none;
    	padding-bottom: 30px;
    	}
    	
    	#login .section #login_btn{
    	background-color:#172F50;
    	color: #ffffff;
    	}
    	
    	#login .section #login_btn:hover{
    	background-color: #33598c;
    	}
    	
    	#login .section #login_btn:focus{
    	border: none;
    	}
    	
    	#login .section #join_btn{
    	background-color: #f4f4f4;
    	margin-top: 20px;
    	}
    	
    	#login .section #join_btn:hover{
    	background-color: #dedede;
    	}
    	
    	
    	#login .footer{
    	color: rgb(105,105,105);
		text-align: center;
		margin-top: 50px;
    	}
    	
    	#login .footer a{
    	color: rgb(105,105,105);
    	text-decoration: underline;
    	}