@charset "UTF-8";
	
	.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
	}
	.list{
		margin:20px 12px 0 12px;
	}
	
	 .list_card{
	 	position: relative;
        border-radius: 20px;
        background-color:#a5a5a5;
        height: 150px;
        width:100%;
        margin-top: 10px;
        color: #fff;
        
    }
    
    .list_card_txt{
     font-size: 24px;
     position: absolute;
     top: 10%;
     left: 5%;
    }
    
    .list_card_txt2{
    position: absolute;
    right: 22%;
    top:10%;
    }
    
      .list_card_txt3{
    position: absolute;
    right: 11%;
    top: 25%;
    font-size: 20px;
    }
    
    .list_card_link{
    color: #fff;
    position: absolute;
    bottom:13%;
    left: 6%;
    }